
html {

}

body {
  font-family: Verdana;
}

header {
  position: fixed;
  z-index: 1;
  height: 80px;
  width: 100px;
  display: flex;
  border-bottom: 1px solid black;
  font-size: 14px;
}

.logo {
  align-self: flex-start;
  padding-left: 30px;
}

.logo span {
  color: MediumAquamarine;
}

header nav {
  align-self: flex-end;
  padding-right: 40px;
}

nav-span {
  display: inline-block;
  padding: 20px 10px;
}

.content {

}

.stories {
  font-family: Georgia;
}

.article {

}

h1 {

}

p {

}

#headline {

}

#main-title {

}

h2 {

}

.highlight {

}

#cat {

}

#earth {

}

#camera{

}


.sidebar {

}

.news-bites {

}

h3 {

}

.bite {

}

footer {

}

#mytimes {

}
