
* {
  margin: 0;
  padding: 0;
}

html {

}

body {
  font-family: Verdana;
}

header {
  position: fixed;
  z-index: 1;
  min-height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid black;
  font-size: 14px;
  font-weight: bold;
  /*flex-wrap: wrap;*/
}

div {
  display: block;
}

.logo img {
  margin-right: 12px;
}

.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 30px;
}

.logo span {
  color: MediumAquamarine;
}

header nav {
  display: flex;
  align-items: center;
  padding: 0px 40px 0px 20px;
}

a {
  color: black;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.content {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 80px;
  padding-top: 20px;
  width: 1232px;
  margin: 0 auto 78px auto;
  display: flex;
}

.stories {
  display: flex;
  justify-content: space-between;
  font-family: Georgia;
}

.column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 32px;
}

.column.large {
  min-width: 630px;
}

.column.medium {
}


.article {
  width: 300px;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 17px;
}

#headline {
  width: 100%;
}

#main-title {
  background-image: url(../main-story.png);
  color: white;
}

h2 {
  font-size: 30px;
}

.highlight {
 height: 300px;
}

#cat {
  background-image: url(../cat-ceo.png);}

#earth {
  background-image: url(../fall-season.png);
}

#camera{
  background-image: url(../hipster-cameraman.png);
}


.sidebar {

}

.news-bites {

}

h3 {

}

.bite {

}

footer {
  width: 100%;
  height: 325px;
  background-color: MediumAquamarine;

}

#mytimes {

}
